@import url('')
* {
margin: 0;
padding: 0;
font-family: 'open sans';
}
body {
  background-color:rgb(219, 219, 221);
}
h1 {
color: #f0e4e4;
padding: 20px 0;
text-align: center;
font-size: 1.80rem;
background: #19329a;
}
.container {
  display: flex;
  gap: 40px;
  padding: 20px;
}
.weather-input input{
  width: 0%;
  height: 100px;
  outline: none;
  padding: 0 15px;
  margin: 10px 0 20px 0;
  font-size: 1.07rem;
  border-radius: 4px;
  border: 1px solid;
}
.weather-input .separator{
 height: 1px;
 width: 100%;
 background:rgb(205, 195, 183) 
}
.weather-input {
  width: 550px;
}
.weather-data {
}
.weather-input button{
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
  border: none;
  colour: rgb(238, 238, 246);
  font-size: 1rem;
  border-radius: 4px;
  background-color: rgb(227, 227, 244);
}
.weather-data{
  width: 100%;
}
.weather-input .location-btn{
  background: rgb(249, 249, 249);
}
.col-sm-12{
  color: rgb(17, 26, 26);
}
.row{
  color: rgb(87, 88, 91);
}
